*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  background: var(--bg);
  color: var(--body);
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-size: var(--font-size-md);
}

html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
  word-break: break-word;
  font-kerning: auto;
  font-variant: normal;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  hyphens: auto;
}

a,
button {
  position: relative;
  background: transparent;
  transition: 100ms background ease-in-out, 100ms color ease-in-out;

  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;

  margin: 0;
  min-width: 24px;
  border-radius: var(--border-radius-md);

  cursor: pointer;
  outline: none;
  border: none;
  user-select: none;

  color: var(--primary);
  font-weight: 600;
  line-height: 24px;
  padding: 0 16px 0;
  border: 1px solid transparent;
}

a:hover,
a:focus,
button:hover,
button:focus {
  color: var(--primary-lit);
}

a:focus,
button:focus {
  border: 1px solid var(--primary);
  border-radius: var(--border-radius-sm);
  box-shadow: 0 0 0 3px var(--input-focus);
  outline: 3px solid transparent;
}

a:disabled,
button:disabled {
  cursor: not-allowed;
}

img {
  max-width: 100%;
  display: block;
}

input {
  font-size: var(--font-size-md);
  font-size: max(var(--font-size-md), 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  color: inherit;
  background-color: var(--input-bg);
  border: 1px solid var(--input-border);
  border-radius: var(--border-radius-sm);
  transition: 180ms box-shadow ease-in-out;
}

input:hover,
input:focus {
  border-color: var(--primary);
}

input:focus {
  box-shadow: 0 0 0 3px var(--input-focus);
  outline: 3px solid transparent;
}

input::placeholder {
  color: var(--hint);
  opacity: 1;
}

input:not(textarea) {
  line-height: var(--line-height);
  height: 2.25rem;
}

input[type='file'] {
  font-size: 0.9em;
  padding-top: 0.35rem;
}

input[readonly],
input[disabled] {
  cursor: not-allowed;
  color: var(--subtle);
}

textarea {
  resize: vertical;
}

::selection {
  background: var(--primary);
}

code,
pre {
  font-family: var(--font-family-mono);
  font-size: var(--font-size-sm);
}

/** Vendors */

.react-responsive-modal-modal {
  background: var(--input-bg);
  border-radius: var(--border-radius-md);
}

.freq-model-reset-sm {
  max-width: 400px;
  margin: var(--inset-md);
  padding: 0;
}

.freq-model-reset-sm svg {
  fill: var(--body-light);
}
