:root {
  --text: #000;
  --freq-button-weight: 600;
  --blow-action-button-min-height: 1.5rem;
}

html.dark {
  --text: #fff;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-white;

    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  html.dark {
    @apply bg-black;
  }

  body {
    position: relative;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
  }

  /* Selection */

  ::selection {
    @apply bg-blue-200;
    @apply text-black;
  }

  ::-moz-selection {
    @apply bg-blue-200;
    @apply text-black;
  }

  ::-webkit-selection {
    @apply bg-blue-200;
    @apply text-black;
  }

  /* Scrollbars */

  ::-webkit-scrollbar {
    @apply bg-transparent w-3 h-3;
  }

  /* Prevent white scrollbar when dialog open */
  ::-webkit-scrollbar,
  body::-webkit-scrollbar {
    @apply bg-gray-200;
  }

  ::-webkit-scrollbar-thumb {
    border: 2px solid transparent;

    @apply bg-gray-400 rounded-full;
  }

  ::-webkit-scrollbar-corner {
    @apply bg-transparent;
    @apply text-transparent;
  }

  ::-webkit-scrollbar-thumb:active {
    @apply bg-gray-500;
  }

  ::-webkit-scrollbar-thumb:horizontal,
  ::-webkit-scrollbar-thumb:vertical {
    @apply bg-clip-padding;
  }

  /* Dark-mode overrides */

  /* Selection */

  .dark ::selection {
    @apply bg-blue-800;
    @apply text-white;
  }

  .dark ::-moz-selection {
    @apply bg-blue-800;
    @apply text-white;
  }

  .dark ::-webkit-selection {
    @apply bg-blue-800;
    @apply text-white;
  }

  /* Scrollbars */

  .dark ::-webkit-scrollbar,
  .dark body::-webkit-scrollbar {
    @apply bg-gray-950;
  }

  .dark ::-webkit-scrollbar-thumb {
    @apply bg-gray-800;
  }

  .dark ::-webkit-scrollbar-thumb:active {
    @apply bg-gray-700;
  }
}

@layer utilities {
  .full {
    @apply w-full h-full;
  }

  .flex-start {
    @apply flex justify-start items-start;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .text-overflow {
    @apply w-full overflow-hidden whitespace-nowrap text-ellipsis;
  }

  .font-spaced-narrow {
    @apply font-narrow tracking-[0.2em];
  }

  .modal {
    @apply max-w-md m-4 p-0 overflow-hidden;
  }

  .vertical-rl {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
}

.freq-disable-scroll [data-rsbs-scroll] {
  overflow: hidden;
}
